{% extends 'base.html' %}

{% block title %}Formulario de recuperación de contraseña{% endblock %}

{% block content %}
	<div class="content container">
        <div class="row">
            <div class="col-md-8">
				<h1>¿Ha olvidado su contraseña?</h1>
				<p>Introduzca su email aquí debajo, y le mandaremos un correo con instrucciones para cambiarla a una nueva.</p>

				<form method="POST">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <input type="submit" value="Completar registro">
				</form>
			</div>
		</div>
	</div>
{% endblock %}